.row
  .twelve.columns
    %h1   TRIP SHIT
%script
  var trip_array = [];
  var activities = [];
.addtrip
  .trip_form.hide
    = form_tag("#")do
      = hidden_field_tag('trip_id')
      = text_field_tag 'trip-name', nil, :placeholder => "Trip Name",:class=>"trip-input"
      = text_field_tag 'trip-startdate', nil, :placeholder => "Start Date",:class=>"trip-input"
      = text_field_tag 'trip-enddate', nil, :placeholder => "End Date",:class=>"trip-input"
      = link_to("Save New Trip",'#', :id => "trip_save", :class=>'button radius success activity-form-btn')
      = link_to("Cancel", '#', :id =>"trip_cancel", :class=>'button radius alert activity-form-cancel-btn')
      = link_to('Save Updated Trip', "#", :id =>"trip_update", :class=>"button radius")
    //FORM STUFF GOES HERE FOR ADD
.addtripbutton.small


//LOOP OVER USER TRIPS
.trips#trips
  - @trips.each do |trip|
    = hidden_field_tag "trip_id", trip.id
    = link_to("New Activity", nil, :id=>'new_activity', :class=>'button radius new_activity')
    %script
      = "trip_array.push({name:'#{trip.name}',startdate:'#{trip.startdate}',enddate:'#{trip.enddate}',id:#{trip.id}});"
    .tripactivities.hide
      - trip.activities.each do |activity|
        %script
          = "activities.push({name:'#{activity.name}', description:'#{activity.description}',image:'#{activity.image}',address:'#{activity.address}',longitude:#{activity.longitude},latitude:#{activity.latitude},total_votes:#{activity.total_votes},trip_id:#{activity.trip_id}});"
.row
  .five.columns
    #activity_form.hide
      = form_tag('/trips') do
        = label_tag      'Name'
        = text_field_tag 'activity-name'
        = label_tag      'category'
        = text_field_tag 'activity-category'
        = label_tag      'description'
        = text_area_tag  'activity-description'
        = label_tag      'Address'
        = text_field_tag "activity-address"
        = label_tag      'Image'
        = text_field_tag "activity-image"
        = hidden_field_tag "activity-id"
        = link_to("Save Changes",'#', :id => "activity-save-changes", :class=>'button radius success activity-form-btn')
        = link_to("Cancel", '#', :id =>"activity-cancel", :class=>'button radius alert activity-form-cancel-btn')
        = link_to('Enter', '#', :id =>"activity-enter", :class=>"button radius")
.row
  .twelve.columns
    #map_canvas





/ %script
/   populate_all_trips(trip_array);
/ .trip
/   .hidden_trip_id
/   .showtrip
/     .trip_name=trip.name
/     .trip_startdate=trip.startdate
/     .trip_enddate=trip.enddate
/     .buttons
/       .edit_trip_btn
/       .delete_trip_btn
/   .edittrip


/   .activity_form.hide
/     = form_tag do
/       = text_field_tag 'Name'
/       = text_area_tag  'Description'
/       = link_to "Save Changes", :class=>'button radius success tiny activity-form-btn'
/       = link_to "Cancel", :class=>'button radius alert activity-form-cancel-btn'
/ .tripactivities.hide
