.row
  .twelve.columns
    %h1   TRIP SHIT
%script
  var trip_array = [];
  var activities = [];
.addtrip
  .form
    //FORM STUFF GOES HERE FOR ADD
  .addtripbutton.button.small
    Add

//LOOP OVER USER TRIPS
.trips#trips
  - @trips.each do |trip|
    %script
      ="trip_array.push({name:'#{trip.name}',startdate:'#{trip.startdate}',enddate:'#{trip.enddate}',id:#{trip.id}});"
    .tripactivities.hide
      = link_to("New Activity", nil, :id=>'new_activity', :class=>'button')
      - trip.activities.each do |activity|
        %script
          = "activities.push({name:'#{activity.name}', description:'#{activity.description}',image:'#{activity.image}',address:'#{activity.address}',longitude:#{activity.longitude},latitude:#{activity.latitude},total_votes:#{activity.total_votes},trip_id:#{activity.trip_id}});"
.row
  .five.columns
    .activity_form.hide
      = form_tag('/trips') do
        = label_tag      'Name'
        = text_field_tag 'activity-name'
        = label_tag      'Description'
        = text_area_tag  'activity-description'
        = label_tag      'Address'
        = text_field_tag "activity-address"
        = label_tag      'Image'
        = text_field_tag "activity-image"
        = hidden_field_tag "activity-id"
        = link_to("Save Changes",nil, :id => "activity-save-changes", :class=>'button radius success activity-form-btn')
        = link_to("Cancel", nil, :id =>"activity-cancel", :class=>'button radius alert activity-form-cancel-btn')
        = link_to('Enter', nil, :id =>"activity-enter", :class=>"button radius")

#edit_trip_form.hide








/ %script
/   populate_all_trips(trip_array);
/ .trip
/   .hidden_trip_id
/   .showtrip
/     .trip_name=trip.name
/     .trip_startdate=trip.startdate
/     .trip_enddate=trip.enddate
/     .buttons
/       .edit_trip_btn
/       .delete_trip_btn
/   .edittrip


/   .activity_form.hide
/     = form_tag do
/       = text_field_tag 'Name'
/       = text_area_tag  'Description'
/       = link_to "Save Changes", :class=>'button radius success tiny activity-form-btn'
/       = link_to "Cancel", :class=>'button radius alert activity-form-cancel-btn'
/ .tripactivities.hide
