.row
  .twelve.columns
    %h1   TRIP SHIT


.addtrip
  .form
    //FORM STUFF GOES HERE FOR ADD
  .addtripbutton

//LOOP OVER USER TRIPS
.trips#trips
<<<<<<< HEAD
  -@trips.each do |trip|
=======
  - @trips.each do |trip|
>>>>>>> 451471203b5d0276aa44eda471cf7abd7b325642
    .trip
      .showtrip
        .updowns
          .up
          .down
        .trip_name=trip.name
        .trip_startdate=trip.startdate
        .trip_enddate=trip.enddate
        .buttons
          .edit_trip_btn
          .delete_trip_btn
      .edittrip.hide
        .activity_form.hide
          = form_tag do
            = text_field_tag 'Name'
            = text_area_tag  'Description'
            = link_to "Save Changes", :class=>'button radius success tiny activity-form-btn'
            = link_to "Cancel", :class=>'button radius alert activity-form-cancel-btn'
      .tripactivities.hide
#edit_trip_form.hide

